<div class="accordion">
    <div class="accordion-label">
        @Label
    </div>
    <div class="accordion-frame">
        <div class="accordion-header">
            <div>
                @(IsExpanded ? "" : @Header)
            </div>
            <div class="accordion-symbol" @onclick="ToggleAccordion">
                <img src="images/angle-down.png" 
                     class="@((IsExpanded ? "expanded" : ""))" />
            </div>
        </div>
        @if (IsExpanded)
        {
            <div class="accordion-content">
                <div>
                    @ChildContent
                </div>
            </div>
        }
    </div>
</div>