<div class="accordion @((IsExpanded ? "expanded" : ""))">
    <div class="accordion-label">
        @Label
    </div>
    <div class="accordion-frame">
        <div class="accordion-header">
            <div class="accordion-header-text">
                @Header
            </div>
            <div class="accordion-symbol" @onclick="ToggleAccordion">
                <img src="images/angle-down.png"/>
            </div>
        </div>
        @if (IsExpanded)
        {
            <div class="accordion-content">
                @ChildContent
            </div>    
        }

    </div>
</div>

 @code{

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Header { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool IsExpanded { get; set; }

    private void ToggleAccordion()
    {
        IsExpanded = !IsExpanded;
    }
 }