@inject SjolundaFonster.Services.CartService CartService;
@implements IDisposable;

<button class="cart-icon" @onclick="@(() => Click.InvokeAsync())">
    <img src="/images/icons8-cart-32.png" />
    @if(count != 0)
    {
      <div class="cart-counter">@count</div>    
    }
</button>

@code {
    [Parameter]
    public EventCallback Click { get; set; }

}
