@using Microsoft.EntityFrameworkCore
@using SjolundaFonster.Data.Models

<div class="color-card-container" @onclick="OnClickCallback">
    <div class="color-card" style="background-color: @CardColor.Code"</div>
    <div class="color-card-text ">
        @CardColor.Name
    </div>
</div>

@code{

    [Parameter]
    public Color? CardColor { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}