<div class="hinge-outer">
    <div class="hinge-inner">
    </div>
    <div class="hinge-inner">
    </div>
</div>


 <style>
     .hinge-outer {
         display:flex;
         flex-direction: row;
         height: 20px;
         width: 3px;
         border-radius: 3px;
         border: 0.3px solid grey;
     }

     .hinge-inner {
        height: 7px;
        width: 3px;
        border: 0.3px solid grey;
     }
 </style>