@media (max-width: 768px) {

    .layout-container {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }

        .layout-container > div {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .layout-container-config {
        background-color: lightgray;
        justify-content: center;
        align-items: center;
    }

    .layout-container-select {
    }
}

@media (min-width: 769px) {

    .layout-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 100%;
    }

    .layout-container-config {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .layout-config {
        width: 33vw;
        height: 33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
    }

    .layout-container-select {
        width: 33vw;
        height: 33vw;
    }
}


.add-to-cart-container {
    display: flex;
}

.button-add-to-cart {
    background-color: black;
    border: none;
    color: white;
    flex-grow: 1;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

    .button-add-to-cart:hover {
        background-color: #DC4405;
    }

.unit-price {
    text-align: end;
}